@using eTickets.Entities
@using eTickets.Data
@model IEnumerable<Movie>

@{
    ViewData["Title"] = "The Movie Heaven";
}

<body>
    <!-- CATEGORY SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- shop -->
                @foreach (var item in Enum.GetValues(typeof(MovieCategory)))

                {
                    <div class="col-md-4 col-xs-6">
                        <div class="shop">
                            <div class="shop-img">
                                @switch ((MovieCategory)item)
                                {
                                    case (MovieCategory.Action):
                                        {
                                            <img src="/img/action.jpg" alt="">
                                            break;
                                        }
                                    case (MovieCategory.Comedy):
                                        {
                                            <img src="/img/comedy.jpg" alt="">
                                            break;
                                        }
                                    case (MovieCategory.Documentary):
                                        {
                                            <img src="/img/documentary.jpg" alt="">
                                            break;
                                        }
                                    case (MovieCategory.Drama):
                                        {
                                            <img src="/img/drama.jpg" alt="">
                                            break;
                                        }
                                    case (MovieCategory.Horror):
                                        {
                                            <img src="/img/horror.jpg" alt="">
                                            break;
                                        }
                                    case (MovieCategory.Adventure):
                                        {
                                            <img src="/img/adventure.jpg" alt="">
                                            break;
                                        }
                                }
                            </div>
                            <div class="shop-body">
                                <h3>@item</h3>
                                <a asp-action="Store" asp-controller="Movies" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                }
                <!-- /shop -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
    <!-- NEW MOVIES SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <!-- section title -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h3 class="title">New Movies</h3>
                        <div class="section-nav">
                            <ul class="section-tab-nav tab-nav">
                                @foreach (var item in Enum.GetValues(typeof(MovieCategory)))
                                {
                                    @if ((MovieCategory)item == MovieCategory.Action)
                                    {
                                        <li><a style="cursor: pointer" onclick="return postFilter('@item', '0');" id="action">@item</a></li>
                                    }
                                    else
                                    {
                                        <li><a style="cursor: pointer" onclick="return postFilter('@item', '0');">@item</a></li>
                                    }
                                }
                            </ul>
                            <script>
                                document.addEventListener("DOMContentLoaded", function() {
                                    document.getElementById("action").click();
                                });
                            </script>
                        </div>
                    </div>
                </div>
                <!-- /section title -->
                <div id="movieSelection1">
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
    <!-- HOT DEAL SECTION -->
    <div id="hot-deal" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="hot-deal">
                        <ul class="hot-deal-countdown">
                            <li>
                                <div>
                                    <h3 id="days"></h3>
                                    <span>Days</span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <h3 id="hours"></h3>
                                    <span>Hours</span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <h3 id="mins"></h3>
                                    <span>Mins</span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <h3 id="secs"></h3>
                                    <span>Secs</span>
                                </div>
                            </li>
                        </ul>
                        <h2 class="text-uppercase">hot deal this week</h2>
                        <p>New Collection Up to 50% OFF</p>
                        <a id="shopnowhotdeal" class="primary-btn cta-btn" asp-action="Store" asp-controller="Movies"></a>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /HOT DEAL SECTION -->
    <!-- TOP SELLERS SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <!-- section title -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h3 class="title">Top selling</h3>
                        <div class="section-nav">
                            <ul class="section-tab-nav tab-nav">
                                @foreach (var item in Enum.GetValues(typeof(MovieCategory)))
                                {
                                    <li><a style="cursor: pointer" onclick="return postFilter('@item', '1');">@item</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /section title -->
                <div id="movieSelection2">
                    @await Html.PartialAsync("Partials/_NewMoviesFilteredPartial")
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
    <!-- TOP SELLING ALL PRODUCTS SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                @{
                    var i = 0;
                    @foreach (var item in Enum.GetValues(typeof(MovieCategory)))
                    {

                        <div class="col-md-4 col-xs-6">
                            <div class="section-title">
                                <h4 class="title">Top selling @item</h4>
                                <div class="section-nav">
                                    <div id="slick-nav-@i" class="products-slick-nav"></div>
                                </div>
                            </div>

                            <div class="products-widget-slick" data-nav="#slick-nav-@i">
                                <div>
                                    @await Html.PartialAsync("Partials/_TopSellerPartial", Model.Where(n => n.MovieCategory == (MovieCategory)item))
                                </div>
                            </div>
                        </div>

                        if (i == 0) i++;
                        i++;
                    }
                }

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
    <!-- jQuery Plugins -->

</body>
