@model IEnumerable<Movie>
@using eTickets.Data

@{
    ViewData["Title"] = "The Shop of Heaven";
}

<body>
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- ASIDE -->
                <div id="aside" class="col-md-3">
                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title" style="color: white;">Categories</h3>
                        <div class="checkbox-filter">
                            @foreach (var item in Enum.GetValues(typeof(MovieCategory)))
                            {
                                <div class="input-checkbox">
                                    <input type="checkbox" id="category-@item" onclick="return postStoreFilter('@item');" />
                                    <label for="category-@item" style="color: white;">
                                        <span></span>
                                        @item
                                        <small style="padding-left: 5px; color: rgb(255,215,0, 0.7);">( @Model.Where(n => n.MovieCategory == (MovieCategory)item).Count() )</small>
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                    <!-- /aside Widget -->
                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title" style="color: white;">Price</h3>
                        <div class="price-filter">
                            <div id="slider-range"></div>
                            <br />
                            <div class="input-number price-min">
                                <input id="price-min" type="number">
                                <span class="qty-up">+</span>
                                <span class="qty-down">-</span>
                            </div>
                            <span>-</span>
                            <div class="input-number price-max">
                                <input id="price-max" type="number">
                                <span class="qty-up">+</span>
                                <span class="qty-down">-</span>
                            </div>
                        </div>
                    </div>
                    <!-- /aside Widget -->
                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title" style="color: white;">Top selling Action</h3>
                        @{
                            var i = 0;
                                @foreach (var item in Model.Where(n => n.MovieCategory == MovieCategory.Action))
                            {
                                    @if (i < 3)
                                {
                                        <div class="product-widget">
                                            <div class="product-img">
                                                <img src="@item.ImagePath" alt="">
                                            </div>
                                            <div class="product-body">
                                                <p class="product-category">@item.MovieCategory</p>
                                                <h3 class="product-name"><a href="#">@item.Name</a></h3>
                                                <h4 class="product-price">$@String.Format("{0:0.00}", (item.Price - (30*item.Price/100))) <del class="product-old-price">$@item.Price</del></h4>
                                            </div>
                                        </div>
                                }
                                i++;
                            }
                        }
                    </div>
                    <!-- /aside Widget -->
                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title" style="color: white;">Top selling Comedy</h3>
                        @{
                            i = 0;
                                @foreach (var item in Model.Where(n => n.MovieCategory == MovieCategory.Comedy))
                            {
                                    @if (i < 3)
                                {
                                        <div class="product-widget">
                                            <div class="product-img">
                                                <img src="@item.ImagePath" alt="">
                                            </div>
                                            <div class="product-body">
                                                <p class="product-category">@item.MovieCategory</p>
                                                <h3 class="product-name"><a href="#">@item.Name</a></h3>
                                                <h4 class="product-price">$@String.Format("{0:0.00}", (item.Price - (30*item.Price/100))) <del class="product-old-price">$@item.Price</del></h4>
                                            </div>
                                        </div>
                                }
                                i++;
                            }
                        }
                    </div>
                    <!-- /aside Widget -->
                </div>
                <!-- /ASIDE -->
                <!-- STORE -->
                <div id="store" class="col-md-9">
                    <!-- store top filter -->
                    <div class="store-filter clearfix">
                        <div class="store-sort">
                            <label>
                                Sort By:
                                <select class="input-select">
                                    <option value="0">Popular</option>
                                    <option value="1">Position</option>
                                </select>
                            </label>

                            <label>
                                Show:
                                <select class="input-select">
                                    <option value="0">20</option>
                                    <option value="1">50</option>
                                </select>
                            </label>
                        </div>
                        <ul class="store-grid">
                            <li class="active"><i class="fa fa-th"></i></li>
                            <li><a href="#"><i class="fa fa-th-list"></i></a></li>
                        </ul>
                    </div>
                    <!-- /store top filter -->
                    <!-- store products -->
                    <div class="row" id="storeFilter">
                        @Html.Partial("Partials/_MovieShopPartial")
                    </div>
                    <!-- /store products -->
                    <!-- store bottom filter -->
                    <div class="store-filter clearfix">
                        <span class="store-qty">Showing 20-100 products</span>
                        <ul class="store-pagination">
                            <li class="active">1</li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                    <!-- /store bottom filter -->
                </div>
                <!-- /STORE -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
    <!-- jQuery Plugins -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/nouislider.min.js"></script>
    <script src="/js/jquery.zoom.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/FilteringMovies.js"></script>
    <script src="/js/PriceSlider.js"></script>

</body>
