@using eTickets.Entities
@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "List of all Users";
}

<h1 class="offset-md-2">@ViewData["Title"]</h1>
<br />
<br />
<div class="row">
    <div class="col-md-6 offset-md-3">
        <p>
            <h4>@ViewData["Title"]</h4>
        </p>
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.FirstName) @Html.DisplayNameFor(model => model.LastName)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th>@Html.DisplayNameFor(model => model.DOB)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="justify-content-center text-center align-middle">
                            @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td class="justify-content-center text-center align-middle">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td class="justify-content-center text-center align-middle">
                            @Html.DisplayFor(modelItem => item.DOB)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>